<section id="about">
        <div class="container">
            <div>
                <h3>bio</h3>
                <hr>
                {% if page.header.bio %}
                <p>{{ page.header.bio }}</p>
                {% endif %}
            </div>
            <div>
                <h3>skills</h3>
                <hr>
                {% if page.header.skills %}
                <p>{{ page.header.skills }}</p>
                {% endif %}
            </div>
        </div>
        {% if page.header.resume %}
        <a href="{{ page.media[page.header.resume].url }}" class="btn" target="_blank">View My Resume</a>
        {% endif %}
    </section>