<section id="contact" {% if page.header.secondaryBg %} class="secondary-bg" {% endif %}>
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        {% include "forms/form.html.twig" %}
    </section>