<section id="twitter">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
        <a class="twitter-grid"  data-limit="{{ page.header.tweet_amount }}" data-width="700" data-partner="tweetdeck" href="https://twitter.com/austinweast/timelines/979545493977141250?ref_src=twsrc%5Etfw">Loading feed from Twitter...</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</section>