{% extends 'partials/base.html.twig' %}

{% block content %}
{% if page.header.headerToggle %}
    <header>
	   <div>
           {{ page.content }}
        </div>
    </header>
    <section id="contact">
    {% else %}
    <section id="contact">
        <h2>{{ page.title }}</h2>
        {{ page.content }}
    {% endif %}
        {% include "forms/form.html.twig" %}
    </section>
{% endblock %}
